/*
Css file to manage the graphical structure of the page.
SmartPark blue:   #083b66 rgb(8,59,102)
SmartPark orange: #ff8a14 rgb(255,138,20)
*/
/*Rules for every page*/
.structure {
  background: rgba(8,59,102,0.3);
  text-align: center;
}

h1{
    color: #ff8a14;
}

/*Set of classes to have two buttons next to each other*/
/*Class for the container*/
.container{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

/*Class for the buttons*/
.column_left {
  float:left;
  margin-top: 150px;
}

.column_right {
 float: right;
  margin-top: 150px;
}

/*Buttons in index.html*/
.button{
    font-size: 32px;
    height: 100px;
    width: 200px;
}

/*Login form in login.html*/
#login-form{
    margin-top: 65px;
    margin-bottom: 40px;
}

/*user_page.html*/

/*plate design*/
#plate{
  position: relative;
  text-align: center;
  color: black;
}

@font-face {
  font-family: plate_font;
  src: url("plates1999.ttf");
}

#number{
  position: absolute;
  font-size: 85px;
  font-family: 'plate_font';
  word-spacing: -20px;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}