<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartPark</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="structure container">

    <h1>SmartPark profile manager</h1>

    <div class="column_left">
        <form action = "{{ url_for('login') }}" method = "POST">
            <input type="hidden" name="flag" value="0">
            <input class="button" type = "submit" value = "Login" />
        </form>
    </div>

    <div class="column_right">
        <form action = "{{ url_for('new_user') }}" method = "POST">
            <input type="hidden" name="flag" value="0">
            <input class="button" type = "submit" value = "New user" />
        </form>
    </div>

</body>
</html>