<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="{{ url_for('login_control') }}" method="POST">
        <p>Username:
            <input type="text" name = "username">
        </p>
        <p>Password:
            <input type="password" name = "password">
        </p>

        <input type="submit" value="Enter">
    </form>

    {% if flag == 1 %}
        <br>
        <p>Error: Invalid username</p>
    {% endif %}
    {% if flag == 2 %}
        <br>
        <p>Error: Invalid password</p>
    {% endif %}


    <form action = "{{ url_for('index') }}">
        <input type = "submit" value = "Return to the home page" />
    </form>

</body>
</html>