<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="structure">
    <h1>New user</h1>

    <form action="{{ url_for('new_user_creation') }}" method="post">
        <p>Username:
            <input type="text" name = "username" autocomplete="off">
        </p>

        <p>Password:
            <input type="password" name = "password">
        </p>

        <p>Plate number:
            <input type="text" name = "plate" autocomplete="off">
        </p>

        <p>Preference:<br>
            <input type="radio" name = "preference" value="1" checked>1<br>
            <input type="radio" name = "preference" value="2">2<br>
            <input type="radio" name = "preference" value="3">3<br>
        </p>

        <input type="submit" value="Enter">
    </form>

    <!-- Flag:
    0 -> normal creation
    1 -> error message: plate already taken
    2 -> error message: username already taken
    3 -> error message: plate field empty
    4 -> error message: username field empty
    5 -> error message: password field empty
    6 -> error message: plate number incorrect
    -->

    {% if flag == 1 %}
        <br>
        <p>Error: Plate number already taken</p>
    {% endif %}
    {% if flag == 2 %}
        <br>
        <p>Error: Username already taken</p>
    {% endif %}
    {% if flag == 3 %}
        <br>
        <p>Error: Plate field empty</p>
    {% endif %}
    {% if flag == 4 %}
        <br>
        <p>Error: Username field empty</p>
    {% endif %}
    {% if flag == 5 %}
        <br>
        <p>Error: Password field empty</p>
    {% endif %}
    {% if flag == 6 %}
        <br>
        <p>Error: Plate number incorrect</p>
    {% endif %}

    <form action = "{{ url_for('index') }}">
        <input type = "submit" value = "Return to the home page" />
    </form>

</body>
</html>