<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="structure">
    <h1>New user</h1>

    <form action="{{ url_for('new_user_creation') }}" method="post">

            <input type="text" name = "username" autocomplete="off" placeholder="Username:">
        <br>
            <input type="password" name = "password" placeholder="Password:">
        <br>
            <input type="text" name = "plate" autocomplete="off" placeholder="Plate number:">
        <br>

        <div class="container_2">
            <p id="preference">Preference:<br>
            <input type="radio" name = "preference" value="0" checked>Near the entrance<br>
            <input type="radio" name = "preference" value="1">Near the exit<br>
            <input type="radio" name = "preference" value="2">Near the elevator<br>
        </p>
        </div>

        <input type="submit" class="button button-enter" value="Enter">
    </form>

    <!-- Flag:
    0 -> normal creation
    1 -> error message: plate already taken
    2 -> error message: username already taken
    3 -> error message: plate field empty
    4 -> error message: username field empty
    5 -> error message: password field empty
    6 -> error message: plate number incorrect
    -->

    {% if flag == 1 %}
        <p class="error">Error: Plate number already taken</p>
    {% endif %}
    {% if flag == 2 %}
        <p class="error">Error: Username already taken</p>
    {% endif %}
    {% if flag == 3 %}
        <p class="error">Error: Plate field empty</p>
    {% endif %}
    {% if flag == 4 %}
        <p class="error">Error: Username field empty</p>
    {% endif %}
    {% if flag == 5 %}
        <p class="error">Error: Password field empty</p>
    {% endif %}
    {% if flag == 6 %}
        <p class="error">Error: Plate number incorrect</p>
    {% endif %}

    <form action = "{{ url_for('index') }}">
        <input type = "submit" class="button button-return" value = "Return to the home page" />
    </form>

</body>
</html>