<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="structure user-page">
    <h1>Welcome, {{ username }}</h1>

    <p>Plate number:</p>

    <div id="plate">
        <p id="number">{{ plate }}</p>
        <img src="{{ url_for('static', filename='plate.jpg') }}">
    </div>

    <p id="user-page-preference">Preference:<br><div id="actual-user-preference">{{ preference }}</div></p>
    <br>


    <form action = "{{ url_for('logout') }}">
        <input type = "submit" class="button button-return" value = "Logout" />
    </form>

</body>
</html>