/*

SmartPark blue:   #083b66 rgb(8,59,102)
SmartPark orange: #ff8a14 rgb(255,138,20)

This file handles the style of the buttons:

 it disables the occupied spots and highlights the suggested ones.
 The id of each button indicates the spot it represents
 The class of the button reflects te "state" of the spot,
 directly using the logic of the array in the "choice" route:

    # class flag:
    # 0 -> free
    # 1 -> taken
    # 2 -> suggested
*/

/*Sets the background to the choice page*/
body.choice {
  background-image: url("background_choice.jpg");
  background-repeat: no-repeat;
}

body.idle {
  background-image: url("background_idle.jpg");
  background-repeat: no-repeat;
}

#welcome {
    text-align: center;
}

#content {
    margin: auto;
    width: 70%;
}

button#idle {
    height: 100px;
    width: 300px;
    position: absolute;
    top: 501px;
    left: 152px;
}

button {
    height: 70px;
    width: 100px;
}

.class_0 {
    background: green;
}

.class_1 {
    background: red;
    pointer-events: none;
}

/*Handling flash animation*/

.class_2 {
    animation-name: flash;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flash {
    0% { background: green; }
    50% { background: #083b66; }
    100% { background: green; }
}

/*Horizontal position*/
#id_0, #id_1, #id_2, #id_3 {
    position: absolute;
    left: 75px;
}

#id_4, #id_5, #id_6, #id_7 {
    position: absolute;
    right: 75px;
}

/*Vertical position*/
#id_3, #id_7 {
    top: 225px;
}

#id_2, #id_6 {
    top: 375px;
}

#id_1, #id_5 {
    top: 525px;
}

#id_0, #id_4 {
    top: 675px;
}