<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <title>No suggestions</title>
</head>
<body class="idle">

    <div id="transparent_text">
        <p>The parking lot is not loaded, go take the spot you want.</p>
    </div>

    <a href="{{ url_for('idle') }}">
        <button id="idle">Ok!</button>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='transparent_redirecting.js') }}"></script>
</body>
</html>